body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #ccc;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav {
    background-color: #444;
    overflow: hidden;
    margin-bottom: 15px;
}

nav a {
    float: none; /* Centered text */
    display: inline-block; /* Centered text */
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
    color: #ccc;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #fff;
}

p {
    color: #ccc;
    text-align: justify;
    font-size: larger;    
}


.person-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.person-container img {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.person-container img:hover {
    transform: scale(1.1);
}

.person-container p {
    color: #ccc;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
.person-container div {
    width: 45%; /* Adjusted width to fit 2x2x2 grid */
    margin: 10px;
}

.progressBar {
	position: fixed;
	top: 0;
	left: 0;
	height: 8px;
	background: linear-gradient(to right, #ff5f6d, #ffc371);
	width: 0%;
	z-index: 100;
	transition: width 0.2s ease-out;
}
::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background: rgb(207, 29, 59);
}

@media screen and (max-width: 768px) {
	.image img {
		width: 200px;
	}
}
.previous-button{
        position: relative;
        bottom: 20px;
        float: left;
        margin-top: 20px;
        background-color: #555;
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
}
.next-button {
    position: relative;
    bottom: 20px;
    float: right;
    margin-top: 20px;
    background-color: #555;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.previous-button:hover{
    background-color: #777;
   
}
.next-button:hover {
    background-color: #777;
}